Source: frameworkintegration
Section: libs
Priority: optional
Maintainer: Debian/Kubuntu Qt/KDE Maintainers <debian-qt-kde@lists.debian.org>
Uploaders: Maximiliano Curia <maxy@debian.org>
Build-Depends: cmake,
               dbus-x11,
               debhelper (>= 9.0.0),
               extra-cmake-modules (>= 1.6.0),
               kio-dev (>= 5.6.0),
               libkf5attica-dev (>= 5.6.0),
               libkf5auth-dev (>= 5.6.0),
               libkf5bookmarks-dev (>= 5.6.0),
               libkf5codecs-dev (>= 5.6.0),
               libkf5completion-dev (>= 5.6.0),
               libkf5config-dev (>= 5.6.0),
               libkf5configwidgets-dev (>= 5.6.0),
               libkf5coreaddons-dev (>= 5.6.0),
               libkf5dbusaddons-dev (>= 5.6.0),
               libkf5globalaccel-dev (>= 5.6.0),
               libkf5guiaddons-dev (>= 5.6.0),
               libkf5i18n-dev (>= 5.6.0),
               libkf5iconthemes-dev (>= 5.6.0),
               libkf5itemviews-dev (>= 5.6.0),
               libkf5jobwidgets-dev (>= 5.6.0),
               libkf5kjs-dev (>= 5.6.0),
               libkf5notifications-dev (>= 5.6.0),
               libkf5service-dev (>= 5.6.0),
               libkf5solid-dev (>= 5.6.0),
               libkf5sonnet-dev (>= 5.6.0),
               libkf5textwidgets-dev (>= 5.6.0),
               libkf5widgetsaddons-dev (>= 5.6.0),
               libkf5windowsystem-dev (>= 5.6.0),
               libkf5xmlgui-dev (>= 5.6.0),
               libqt5widgets5,
               libqt5x11extras5-dev,
               oxygen-icon-theme,
               pkg-config,
               pkg-kde-tools (>= 0.15.15ubuntu1~),
               qtbase5-dev,
               qtbase5-private-dev
Standards-Version: 3.9.5
XS-Testsuite: autopkgtest
Homepage: https://projects.kde.org/projects/frameworks/frameworkintegration
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-kde/frameworks/frameworkintegration.git
Vcs-Git: git://anonscm.debian.org/pkg-kde/frameworks/frameworkintegration.git

Package: frameworkintegration
Architecture: any
Depends: ttf-oxygen-font-family, ${misc:Depends}, ${shlibs:Depends}
Breaks: kf5-infopage, kf5-integrationplugin, kf5-platformtheme
Replaces: kf5-infopage, kf5-integrationplugin, kf5-platformtheme
Description: KF5 cross-framework integration plugins
 Framework Integration is a set of plugins responsible
 for better integration of Qt applications when running
 on a KDE Plasma workspace.

Package: libkf5style-dev
Section: libdevel
Architecture: any
Depends: libkf5configwidgets-dev,
         libkf5iconthemes-dev,
         libkf5style5 (= ${binary:Version}),
         ${misc:Depends}
Description: KF5 cross-framework integration plugins - KStyle
 Framework Integration is a set of plugins responsible
 for better integration of Qt applications when running
 on a KDE Plasma workspace.
 .
 libkf5style5 provides integration with KDE Plasma Workspace settings
 for Qt styles.
 .
 Derive your Qt style from KStyle to automatically inherit
 various settings from the KDE Plasma Workspace, providing a
 consistent user experience. For example, this will ensure a
 consistent single-click or double-click activation setting,
 and the use of standard themed icons.
 .
 This package provides the development files.

Package: libkf5style5
Architecture: any
Multi-Arch: same
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: KF5 cross-framework integration plugins - KStyle
 Framework Integration is a set of plugins responsible
 for better integration of Qt applications when running
 on a KDE Plasma workspace.
 .
 libkf5style5 provides integration with KDE Plasma Workspace settings
 for Qt styles.
 .
 Derive your Qt style from KStyle to automatically inherit
 various settings from the KDE Plasma Workspace, providing a
 consistent user experience. For example, this will ensure a
 consistent single-click or double-click activation setting,
 and the use of standard themed icons.

Package: frameworkintegration-dbg
Priority: extra
Section: debug
Architecture: any
Multi-Arch: same
Depends: libkf5style5 (= ${binary:Version}), ${misc:Depends}
Description: KF5 cross-framework integration plugins - debug files
 Framework Integration is a set of plugins responsible
 for better integration of Qt applications when running
 on a KDE Plasma workspace.
 .
 Applications do not need to link to this directly.
 .
 Contains debug symbols for frameworkintegration.
